<html>

<head>
  <meta charset="utf-8">
  <title>Happy Chat</title>
  {{!-- <meta name="viewport" content="width=device-width, initial-scale=1"> --}}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
</head>

<body>


  <img id="image">
  <h1 id ="Messg"> </h1>

  <script>
    const socket = io();
    var html = '';
    socket.on('image', (data) => {
      console.log('data'+data.face);
      if (data == null) {
        html += "where is ur smile?";
        $("#Messg").html(html);
      }
      
      var imageID = document.getElementById("image");
      imageID.src = `data:image/jpeg;base64,${data}`;
      //  var ctx = document.getElementById("mycanvas");
      //  document.querySelector('body').appendChild(ctx);

    });
  </script>
</body>

</html>